@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Oswald:wght@300&display=swap');
* {
    box-sizing: border-box;
  }
    /*Reseta*/
a{
    text-decoration: none;
    color: #ededed;
  }
h1, h2, h3, h4, h5, h6,p {
    font-family: 'Arial', sans-serif;
    margin: 0;
  }
button{
    margin: 0;
  }
li{
    list-style: none;
  }
ul{
    padding: 0;
    margin: 0;
    overflow: hidden;
    position: relative;
  }
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
  }
  .container{
    max-width: 928px;
    margin: 0 auto;
    display: flex;
    align-items: center;
  }
    /*nav-bar*/
.nav_bar{
    background: #f1f3f2;
    box-shadow: 0px 10px 13px -7px #000000, 0px 12px 12px 1px #AB7416;
  }
 
.nav_bar .container {
    justify-content: space-between;
    min-height: 64px;
  }
.container .nav{
    display:flex;
  }
.container .nav .fst_nav{
    max-width: 352px;
    padding-left: 15px;
  }

.container .nav ul::before{
    content: '';
    width: 2px;
    position: absolute;
    height: 31px;
    background: url(images/nav_slide.png);
  }
.container .nav li {
    float: left;
    margin-left: 17px;
  }
.container .nav li a{
    display: block;
    font-family: Arial;
    font-weight: bold;
    font-size: 14px;
  }
.fst_nav li a{
    color: #000;
  }
.container .nav .fst_nav li a:hover{
    color: #e85725;
  }
.container .nav .sec_nav{
    max-width: 168px;
    padding-left: 15px;
  }

.container .nav .sec_nav li a{
    display: block;
    color: #e85725;
  }
.container .logo{
    position: relative;
    padding: 20px 0 0 20px;
  }

.container .logo::after{
    content: '';
    top: 61px;
    left: 0;
    width: 221px;
    height: 37px;
    position: absolute;
    background: url(images/bg-logo.png);
  }
    /*banner*/
.banner{
    border: 2px solid #ab7416;
    background: linear-gradient(360deg, rgba(156,60,2,1) 0%, rgba(217,81,0,1) 9%, rgba(229,96,5,1) 19%, rgba(229,96,5,1) 30%, rgba(232,103,7,1) 46%, rgba(241,131,18,1) 61%, rgba(254,168,31,1) 98%, rgba(199,135,27,1) 100%);
  }
.container .banner_text{
    max-width: 480px;
  }
    .container .banner_text h2{
    color: beige;
    font-size: 25px;
    font-family: 'Arial';
    padding-bottom: 10px;
  }
.container .banner_text p{
    font-size: 15px;
    font-family: 'Arial';
    color: #ffd999;
  }
.container .bg_img{
    width: 470px;
    height: 250px;
    background-image: url(images/bg-visual-frame.png);
    background-repeat: no-repeat;
    margin: 23px -20px -18px 0;
  }
.banner .bg_img img{
    margin: 0;
    width: 86%;
    height: 90%;
    padding: 12px 0 0px 67px;
  }
    /*sign_up*/
.sign_up{
    background: linear-gradient(360deg, rgba(255,255,255,1) 32%, rgb(242, 248, 245) 98%);
  }
.sign_up .container{
    align-items: center;
    justify-content: space-between;
    max-width: 919px;
    padding: 32px 0 24px;
  }
.container h3{
    color: #161616;
    max-width: 435px;
    font-style: italic;
    font-weight: 500;
    font-size: 20px;
    font-family: Georgia;
  }

.container button{
    height: 42px;
    width: 208px;
    padding: 0;
    border-radius: 3px;
    border:  1px solid #c8881b;
    background: rgb(228,90,2);
    background: linear-gradient(360deg, rgba(228,90,2,1) 2%, rgba(237,120,14,1) 44%, rgba(253,170,32,1) 79%);
    color: #fff;
    cursor: pointer;
    font-weight: 600;
    outline: none;
    margin-left:19px;
    font-size: 16px;
  }
.container button:hover{
    background: linear-gradient(360deg, rgba(253,170,32,1) 0%, rgba(237,120,14,1) 77%, rgba(228,90,2,1) 100%);
    color: #fff; 
  }
hr{
    max-width: 90%;
    box-shadow: 0 14px 20px 1px #eaeaea;
    border: 1px solid #eaeaea;
  }
    /*what_we_do*/
    .article{
      padding-top: 25px;
    }
.container .side_text{
    max-width: 588px;
  }
  .container .side_text h3{
    font-family: Arial;
    font-size: 18px;
  }
  .container .side_text .heading h3{
    color: #f25a5a;
    font-size: 14px;
  }
  .container .side_text .description{
    color: #7f7f7f;
    font-size: 12px; 
    font-family: Arial;
  }
.what_we_do .container{
    margin-bottom: 30px;
    justify-content: space-between;
  }
    /*blog*/
.what_we_do .blog .blog_head{
    background: linear-gradient(360deg, rgba(237,237,237,1) 1%, rgba(250,250,250,1) 55%);
    font-family: Arial;
    font-size: 18px;
    height: 52px;
    display: flex;
    align-items: center;
    padding-left: 20px;
    color: #2e2e2e;
  }

.what_we_do .blog{
    max-width: 295px;
    margin-top: 30px;
    border: 1px solid #e5e5e5;
    border-radius: 5px;
  }
.what_we_do .blog .blog_container .img_des{
    display: flex;
    align-items: center;
    border-bottom: 1px solid #e5e5e5;
  }
.what_we_do .blog .img_des img{
    width: 63px;
    height: 43px;
    cursor: pointer;
    margin: 10px;
    border: 1px #e5e5e5 double;
    padding: 3px;
  }
.img_des .des_text{
    margin: 20PX 40px 25px 0;
  }
.img_des .des_text p{
    font-size: 10px;
    color: #adadad;
    font-family: Arial;
  }
.img_des .des_text h4{
    color: #f14848;
    font-size: 11px;
    font-family: 'Lucida Sans';
  }
    /*image-section*/
.section{
    background: rgb(242,244,243);
    background: linear-gradient(360deg, rgba(242,244,243,1) 24%, rgba(255,255,255,1) 62%);
  }
.section .container{
    padding: 24px 0 24px;
    align-items: normal;
  }
.img_container{
    padding: 10px 10px 6px;
    border: #e5e5e5 solid 1px;
    margin: 0 1px;
    background: linear-gradient(360deg, rgba(242,242,242,1) 42%, rgba(255,255,255,1) 76%);
    border-radius: 5px;
    max-height: 216px;
    width: 320px;
    position: relative;
    cursor: pointer;
  }
.img_container .img_btn{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: Arial;
    padding: 17px 0;
  }
.img_container .img {
    height: 70%;
    border-radius: 6px;
    overflow: hidden;
    position: relative;
  }
.img_container .img img{
    height: 153px;
    width: 294px;
  }
.img_btn h3 {
    margin: 0;
  }
.img::after {content: '';
    box-shadow: inset 1px 2px 4px #000;
    position: absolute;
    top: 0;left: 0;
    width: 100%;
    height: 98.5%;
    z-index: 9;
  }
.img_container.no-link .img {
    height: 100%;
  }
.img_container .img img{
    max-width:100%;
  }
    /*footer*/
.footer .container{
 
    justify-content: space-between;

  }
.footer .container .footer_nav{
    color: #fff;
  }
.footer .container .footer_nav li{
    float: left;
    padding: 0 10px;
    overflow: hidden;
  }
.footer .container .footer_nav li a{
    font-family: Arial;
    font-weight: bold;
    font-size: 12px;
  }
.footer .container .footer_text p{
    font-family: 'Lucida Sans';
    font-size: 10px;
    color: #f8bb7a;
  }
.footer{
    background: linear-gradient(360deg, rgba(156,60,2,1) 0%, rgba(217,81,0,1) 9%, rgba(229,96,5,1) 19%, rgba(229,96,5,1) 30%, rgba(232,103,7,1) 46%, rgba(241,131,18,1) 61%, rgba(254,168,31,1) 98%, rgba(199,135,27,1) 100%);
    padding:21px 0 23px;
  }
    /*responsivity code*/
@media only screen and (max-width: 767px) {
    /*nav-bar*/
  .nav_bar .container{
    flex-direction: column;
    padding: 10px 0;
  }
  .nav_bar .container .logo{
    margin: 0 auto;
    padding:10px 0 10px 20px;
  }
  .logo::after{
    display: none;
  }
  .nav{
    justify-content: center;
  }
    /*banner*/
  .banner .container{
    flex-direction: column;
    align-items: center;
  }
  .banner_text{
    text-align: center;
    padding-top: 25px;
  }
  .btn{
    margin: 0;
  }
  .banner .bg_img img{
    margin: 0;
    width: 100%;
    padding: 7px 41px 16px 43px;
  }
    /*sign_up*/
  .sign_up .container{
    flex-direction: column;
  }
  .sign_up .container h3{
    padding-bottom: 25px;
  }
  .sign_up .container button{
    margin: 0;
  }
    /*what-we-do*/
  .what_we_do .container{
    flex-direction: column;
  }
  .what_we_do .container .side_text{
    text-align: center;
  }
    /*iamge_section*/
  .section .container{
    flex-direction: column;
    align-items: center;
  }
  .img::after{
    box-shadow: none;
  }
    /*footer*/
  .footer .container{
      flex-direction: column;
      text-align: center;
  }
  .footer_nav{
    margin: 0 auto;
    display: contents;
  }
  .footer_text p{
    margin: 0;
    padding-top: 10px; 
  }
}
